body { display: flex; flex-direction: column; padding: 1rem; }

[data-is-focusing="true"]:root body { overflow: hidden; }

#content { display: flex; flex-direction: column; justify-content: center; flex-grow: 1; }

#loading_react { font-size: 1.2rem; }

#loading_react { font-family: Rubik, sans-serif; color: #37474F; text-align: center; font-weight: 300; }

#search_bar { width: 70rem; max-width: 100%; margin-left: auto; margin-right: auto; box-sizing: border-box; display: flex; }

#search_bar > input { flex-grow: 1; margin-right: 1rem; }

#search_bar > select { margin-right: 1rem; }

#search_bar #options { display: flex; flex-direction: column; justify-content: center; position: relative; }

#search_bar #options > input { font-size: 1rem; opacity: 0; height: 1.6em; width: 1.6em; position: absolute; cursor: pointer; margin: 0; transform: rotate(0deg); }

#search_bar #options > input:checked ~ svg { transform: rotate(150deg); color: #0288D1; }

#search_bar #options > input:checked ~ #options_window { display: flex; }

#search_bar #options > svg { height: 1.4rem; width: 1.4em; padding: .1em; pointer-events: none; transition: transform .4s ease-in-out, color .4s ease-in-out; color: #6a6a6a; }

#search_bar #options #options_window { color: #37474F; position: absolute; width: 20rem; max-width: calc(100vw - 2rem); top: calc(100% + 0.5rem); right: 0; background-color: white; display: none; border-radius: .25rem; box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); padding: .5rem .75rem; box-sizing: border-box; font-family: Rubik, sans-serif; font-weight: 300; flex-direction: column; }

#search_bar #options #options_window .option_row { display: flex; align-items: flex-end; }

#search_bar #options #options_window .option_row .spacer { flex-grow: 1; }

#search_bar #options #options_window .option_row select { padding-top: 0; padding-bottom: 0; box-shadow: 0 0 0 1px #6a6a6a; margin: 1px; font-size: calc(1em - 3px); display: block; }

#search_bar #options #options_window .option_desc { font-size: 0.8rem; color: #658392; }

#search_bar #options #options_window .option_alert { color: #d10202; }

#pre_applicant_message { width: 70rem; max-width: 100%; margin-left: auto; margin-right: auto; box-sizing: border-box; font-family: Rubik, sans-serif; font-weight: 300; color: #37474F; padding: .5rem .75rem; border-radius: .5rem; margin-top: 1rem; box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); }

#pre_applicant_message.hidden { display: none; }

#applicant_table { width: 70rem; max-width: 100%; margin-left: auto; margin-right: auto; box-sizing: border-box; box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); margin-top: 1em; border-radius: .5rem; padding: .5rem .75rem; display: flex; flex-direction: column; }

#applicant_table.unbiased .applicant_row .applicant_status { margin-right: 0; }

#applicant_table.unbiased .applicant_row .applicant_id { font-weight: 400; }

#applicant_table.unbiased .applicant_row .applicant_id span { padding: .25em .5em; border-radius: .25em; }

#applicant_table.unbiased .applicant_row .applicant_id.filtering { margin-left: .5rem; }

#applicant_table.unbiased .applicant_row .applicant_id.filtering span { background-color: #0288D1; color: white; font-weight: 400; }

#applicant_table .applicant_row, #applicant_table #applicant_message, #applicant_table #applicant_error { font-family: Rubik, sans-serif; font-weight: 300; font-size: 1rem; display: flex; align-items: center; padding: .25rem; color: #37474F; border-radius: 0; transition: background-color .15s ease-in-out; }

#applicant_table .applicant_row.hidden, #applicant_table #applicant_message.hidden, #applicant_table #applicant_error.hidden { display: none; }

#applicant_table .applicant_row.br_top, #applicant_table .applicant_row.applicant_status_applicant { border-top-left-radius: .25rem; border-top-right-radius: .25rem; }

#applicant_table .applicant_row.br_bottom, #applicant_table .applicant_row.applicant_status_applicant { border-bottom-left-radius: .25rem; border-bottom-right-radius: .25rem; }

#applicant_table .applicant_row.applicant_status_applicant { background-color: white; }

#applicant_table .applicant_row.applicant_status_applicant:hover, #applicant_table .applicant_row.applicant_status_applicant .applicant_match .partial_match { background-color: #e6e6e6; }

#applicant_table .applicant_row.applicant_status_finalist { background-color: #ffe6cc; }

#applicant_table .applicant_row.applicant_status_finalist:hover, #applicant_table .applicant_row.applicant_status_finalist .applicant_match .partial_match { background-color: #fecf9f; }

#applicant_table .applicant_row.applicant_status_recipient { background-color: #ccedff; }

#applicant_table .applicant_row.applicant_status_recipient:hover, #applicant_table .applicant_row.applicant_status_recipient .applicant_match .partial_match { background-color: #9fddfe; }

#applicant_table .applicant_row.applicant_status_ineligible { background-color: #ffcccc; }

#applicant_table .applicant_row.applicant_status_ineligible:hover, #applicant_table .applicant_row.applicant_status_ineligible .applicant_match .partial_match { background-color: #fe9f9f; }

#applicant_table .applicant_row .spacer { flex-grow: 1; }

#applicant_table .applicant_row .applicant_status { height: 2rem; width: 2rem; border-radius: .25rem; font-family: "Fredoka One", cursive, sans-serif; display: flex; justify-content: center; align-items: center; margin-right: .5em; }

#applicant_table .applicant_row .applicant_status.filtering { background-color: #0288D1; color: white; }

#applicant_table .applicant_row .applicant_name { font-weight: 400; }

#applicant_table .applicant_row .applicant_name .filtering { background-color: #0288D1; color: white; }

#applicant_table .applicant_row .applicant_match { margin-left: .5em; display: flex; flex-wrap: wrap; }

#applicant_table .applicant_row .applicant_match .whole_match, #applicant_table .applicant_row .applicant_match .partial_match { padding: .25em .5em; border-radius: .25em; font-weight: 400; }

#applicant_table .applicant_row .applicant_match .whole_match + .whole_match, #applicant_table .applicant_row .applicant_match .whole_match + .partial_match, #applicant_table .applicant_row .applicant_match .partial_match + .whole_match, #applicant_table .applicant_row .applicant_match .partial_match + .partial_match { margin-left: .5em; }

#applicant_table .applicant_row .applicant_match .whole_match { background-color: #0288D1; color: white; }

#applicant_table .applicant_row .applicant_match .partial_match { color: #37474F; }

#applicant_table .applicant_row .applicant_match .partial_match span { background-color: #0288D1; color: white; }

#applicant_table .applicant_row .applicant_match + .applicant_id { min-width: 5em; text-align: left; }

#applicant_table .applicant_row .applicant_match + .applicant_id span { padding: .25em .5em; border-radius: .25em; }

#applicant_table .applicant_row .applicant_match + .applicant_id span.filtering { background-color: #0288D1; color: white; font-weight: 400; }

#applicant_table .applicant_row .applicant_match + .applicant_icons { display: flex; }

#applicant_table .applicant_row .applicant_match + .applicant_icons svg { height: 1.4em; display: block; fill: currentColor; margin-right: .5em; }

#applicant_table .applicant_row .applicant_match + .applicant_icons svg .fill_red { fill: #d10202; }

#applicant_table #applicant_message { justify-content: center; }

#applicant_table #applicant_error { flex-direction: column; text-align: center; }

#applicant_table #open_spreadsheet { font-size: 1.2rem; }

#applicant_status_legend { width: 70rem; max-width: 100%; margin-left: auto; margin-right: auto; box-sizing: border-box; flex-grow: 1; display: flex; justify-content: center; margin-top: 1em; font-family: Rubik, sans-serif; font-weight: 300; align-items: flex-start; }

#applicant_status_legend > div { display: flex; justify-content: space-evenly; width: 100%; }

@media only screen and (max-width: 767px) { #applicant_status_legend > div { display: inline-flex; flex-direction: column; width: initial; } }

#applicant_status_legend > div > div { display: flex; align-items: center; justify-content: center; }

#applicant_status_legend > div > div .applicant_status { height: 2rem; width: 2rem; border-radius: .25rem; font-family: "Fredoka One", cursive, sans-serif; display: flex; justify-content: center; align-items: center; margin-right: .5em; }

#applicant_status_legend > div > div .applicant_status.filtering { background-color: #0288D1; color: white; }

#applicant_status_legend > div > div span { flex-grow: 1; }

#modal_back { position: fixed; height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; }

:root:not([data-is-focusing="true"]) #modal_back { display: none; }

#applicant_modal { height: 35em; max-height: calc(100% - 2rem); width: 70rem; max-width: calc(100% - 2rem); background-color: white; font-family: Rubik, sans-serif; font-weight: 300; border-radius: .5rem; box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); text-align: center; display: flex; flex-direction: column; padding: .5em 1em; box-sizing: border-box; overflow: auto; position: relative; }

#applicant_modal #modal_message { display: flex; flex-direction: column; justify-content: center; position: absolute; height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.9); z-index: 1; font-family: Oswald, sans-serif; font-size: 2rem; padding: 0 1em; box-sizing: border-box; }

#applicant_modal #modal_message.hidden { display: none; }

#applicant_modal > .spacer { flex-grow: 1; }

@media only screen and (max-width: 767px) { #applicant_modal { height: 100%; max-height: initial; width: 100%; max-width: initial; overflow: auto; border-radius: 0; } }

#applicant_modal #modal_content { display: flex; flex-direction: column; max-height: 100%; }

#applicant_modal #modal_content h1 { font-family: Oswald, sans-serif; font-size: 2rem; margin: 1rem 0 .2rem; padding-bottom: 3px; }

#applicant_modal #modal_content h1 input { padding-top: 0; padding-bottom: 0; margin-bottom: -3px; max-width: 100%; box-sizing: border-box; }

#applicant_modal #modal_content h2 { font-family: Oswald, sans-serif; font-size: 1.4rem; margin: 0; padding-bottom: 3px; }

#applicant_modal #modal_content h2 input { padding-top: 0; padding-bottom: 0; margin-bottom: -3px; }

#applicant_modal #modal_content h2 span:last-child { font-family: Rubik, sans-serif; font-weight: 300; font-size: 80%; color: #0288D1; }

#applicant_modal #modal_content h3 { font-family: Rubik, sans-serif; font-weight: 400; font-size: 1.2rem; margin: 1rem 0 0; padding: .2em 0; }

#applicant_modal #modal_content h3 select { margin-top: -.2em; margin-bottom: -2em; padding-bottom: calc(.2em - 3px); padding-left: 1.4em; }

#applicant_modal #modal_content button.destructive { font-size: 1.2rem; align-self: center; }

#applicant_modal #modal_content input, #applicant_modal #modal_content select { font-family: inherit; text-align: center; -moz-text-align-last: center; text-align-last: center; color: inherit; font-weight: 400; }

#applicant_modal #modal_content input, #applicant_modal #modal_content select, #applicant_modal #modal_content textarea { background-color: transparent; }

#applicant_modal .modal_icons { display: inline-block; justify-content: center; overflow: visible; width: 20em; max-width: 100%; margin: max(calc(7px + .2em), 0.5em) 0 0; border-radius: .5em; line-height: 0; }

#applicant_modal .modal_icons.hidden { display: none; }

#applicant_modal .modal_icons svg { color: #37474F; height: 1.4em; display: inline-block; fill: currentColor; border-radius: .25em; padding: .2em; margin: 0 .375rem; }

#applicant_modal .modal_icons svg .fill_red { fill: #d10202; }

#applicant_modal .modal_icons .modal_icon_deleter { margin: -7px calc(-7px + .375rem) 0 calc(-11px - .375rem); cursor: pointer; border-radius: 50%; box-sizing: content-box; padding: 0; vertical-align: top; position: relative; border: none; background-color: transparent; }

#applicant_modal .modal_icons .modal_icon_deleter div { background-color: #d10202; background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10' stroke-width='1.25' stroke='white'><line x1='-2.5' y1='-2.5' x2='2.5' y2='2.5'/><line x1='2.5' y1='-2.5' x2='-2.5' y2='2.5'/></svg>"); height: 12px; width: 12px; border-radius: 50%; border: 3px solid transparent; background-clip: content-box; transition: transform .15s ease-in-out; }

#applicant_modal .modal_icons svg:hover + .modal_icon_deleter div, #applicant_modal .modal_icons .modal_icon_deleter:hover div { transform: scale(1.33333); }

#applicant_modal .modal_icons .add_icon { cursor: pointer; }

@-webkit-keyframes wobble { 0% { transform: rotate(2deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  100% { transform: rotate(-2deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes wobble { 0% { transform: rotate(2deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  100% { transform: rotate(-2deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

#applicant_modal .modal_icons.editing svg { -webkit-animation: wobble infinite alternate; animation: wobble infinite alternate; box-shadow: 0 0 0 1px #6a6a6a; cursor: pointer; }

#applicant_modal .modal_icons.editing .modal_icon_deleter { -webkit-animation: wobble infinite alternate; animation: wobble infinite alternate; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+1):not(.add_icon) { -webkit-animation-duration: 0.0955434054s; animation-duration: 0.0955434054s; transform-origin: 0.7411802169rem 1.5361703226rem; -webkit-animation-delay: -0.7399126362s; animation-delay: -0.7399126362s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+2) { -webkit-animation-duration: 0.0955434054s; animation-duration: 0.0955434054s; transform-origin: calc(11px - 1.8rem + 0.7411802169rem) calc(7px + 1.5361703226rem); -webkit-animation-delay: -0.7399126362s; animation-delay: -0.7399126362s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+2):not(.add_icon) { -webkit-animation-duration: 0.1590082617s; animation-duration: 0.1590082617s; transform-origin: 0.3340137384rem 1.4119384204rem; -webkit-animation-delay: -0.7515490529s; animation-delay: -0.7515490529s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+3) { -webkit-animation-duration: 0.1590082617s; animation-duration: 0.1590082617s; transform-origin: calc(11px - 1.8rem + 0.3340137384rem) calc(7px + 1.4119384204rem); -webkit-animation-delay: -0.7515490529s; animation-delay: -0.7515490529s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+3):not(.add_icon) { -webkit-animation-duration: 0.1288295628s; animation-duration: 0.1288295628s; transform-origin: 0.6969117939rem 1.6363734738rem; -webkit-animation-delay: -0.6445932138s; animation-delay: -0.6445932138s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+4) { -webkit-animation-duration: 0.1288295628s; animation-duration: 0.1288295628s; transform-origin: calc(11px - 1.8rem + 0.6969117939rem) calc(7px + 1.6363734738rem); -webkit-animation-delay: -0.6445932138s; animation-delay: -0.6445932138s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+4):not(.add_icon) { -webkit-animation-duration: 0.1295643205s; animation-duration: 0.1295643205s; transform-origin: 0.1982569561rem 1.4056590903rem; -webkit-animation-delay: -0.1866463598s; animation-delay: -0.1866463598s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+5) { -webkit-animation-duration: 0.1295643205s; animation-duration: 0.1295643205s; transform-origin: calc(11px - 1.8rem + 0.1982569561rem) calc(7px + 1.4056590903rem); -webkit-animation-delay: -0.1866463598s; animation-delay: -0.1866463598s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+5):not(.add_icon) { -webkit-animation-duration: 0.1575517179s; animation-duration: 0.1575517179s; transform-origin: 0.6097420776rem 0.2166765708rem; -webkit-animation-delay: -0.3512770493s; animation-delay: -0.3512770493s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+6) { -webkit-animation-duration: 0.1575517179s; animation-duration: 0.1575517179s; transform-origin: calc(11px - 1.8rem + 0.6097420776rem) calc(7px + 0.2166765708rem); -webkit-animation-delay: -0.3512770493s; animation-delay: -0.3512770493s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+6):not(.add_icon) { -webkit-animation-duration: 0.1084318326s; animation-duration: 0.1084318326s; transform-origin: 0.2232416112rem 1.0408238926rem; -webkit-animation-delay: -0.6111112558s; animation-delay: -0.6111112558s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+7) { -webkit-animation-duration: 0.1084318326s; animation-duration: 0.1084318326s; transform-origin: calc(11px - 1.8rem + 0.2232416112rem) calc(7px + 1.0408238926rem); -webkit-animation-delay: -0.6111112558s; animation-delay: -0.6111112558s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+7):not(.add_icon) { -webkit-animation-duration: 0.1591565444s; animation-duration: 0.1591565444s; transform-origin: 1.5385146452rem 0.1272670655rem; -webkit-animation-delay: -0.2155918874s; animation-delay: -0.2155918874s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+8) { -webkit-animation-duration: 0.1591565444s; animation-duration: 0.1591565444s; transform-origin: calc(11px - 1.8rem + 1.5385146452rem) calc(7px + 0.1272670655rem); -webkit-animation-delay: -0.2155918874s; animation-delay: -0.2155918874s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+8):not(.add_icon) { -webkit-animation-duration: 0.1120373819s; animation-duration: 0.1120373819s; transform-origin: 1.5531185322rem 1.2098125617rem; -webkit-animation-delay: -0.9582690448s; animation-delay: -0.9582690448s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+9) { -webkit-animation-duration: 0.1120373819s; animation-duration: 0.1120373819s; transform-origin: calc(11px - 1.8rem + 1.5531185322rem) calc(7px + 1.2098125617rem); -webkit-animation-delay: -0.9582690448s; animation-delay: -0.9582690448s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+9):not(.add_icon) { -webkit-animation-duration: 0.143023359s; animation-duration: 0.143023359s; transform-origin: 0.4879252571rem 0.2584350068rem; -webkit-animation-delay: -0.4541112375s; animation-delay: -0.4541112375s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+10) { -webkit-animation-duration: 0.143023359s; animation-duration: 0.143023359s; transform-origin: calc(11px - 1.8rem + 0.4879252571rem) calc(7px + 0.2584350068rem); -webkit-animation-delay: -0.4541112375s; animation-delay: -0.4541112375s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+10):not(.add_icon) { -webkit-animation-duration: 0.113372056s; animation-duration: 0.113372056s; transform-origin: 1.1227410007rem 1.7194236661rem; -webkit-animation-delay: -0.7531753151s; animation-delay: -0.7531753151s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+11) { -webkit-animation-duration: 0.113372056s; animation-duration: 0.113372056s; transform-origin: calc(11px - 1.8rem + 1.1227410007rem) calc(7px + 1.7194236661rem); -webkit-animation-delay: -0.7531753151s; animation-delay: -0.7531753151s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+11):not(.add_icon) { -webkit-animation-duration: 0.1239043526s; animation-duration: 0.1239043526s; transform-origin: 1.2998074128rem 0.9134648927rem; -webkit-animation-delay: -0.7888728111s; animation-delay: -0.7888728111s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+12) { -webkit-animation-duration: 0.1239043526s; animation-duration: 0.1239043526s; transform-origin: calc(11px - 1.8rem + 1.2998074128rem) calc(7px + 0.9134648927rem); -webkit-animation-delay: -0.7888728111s; animation-delay: -0.7888728111s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+12):not(.add_icon) { -webkit-animation-duration: 0.1117373099s; animation-duration: 0.1117373099s; transform-origin: 0.5881111616rem 1.2110534364rem; -webkit-animation-delay: -0.7399964679s; animation-delay: -0.7399964679s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+13) { -webkit-animation-duration: 0.1117373099s; animation-duration: 0.1117373099s; transform-origin: calc(11px - 1.8rem + 0.5881111616rem) calc(7px + 1.2110534364rem); -webkit-animation-delay: -0.7399964679s; animation-delay: -0.7399964679s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+13):not(.add_icon) { -webkit-animation-duration: 0.1002299572s; animation-duration: 0.1002299572s; transform-origin: 1.1612996771rem 1.1839394716rem; -webkit-animation-delay: -0.6622161849s; animation-delay: -0.6622161849s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+14) { -webkit-animation-duration: 0.1002299572s; animation-duration: 0.1002299572s; transform-origin: calc(11px - 1.8rem + 1.1612996771rem) calc(7px + 1.1839394716rem); -webkit-animation-delay: -0.6622161849s; animation-delay: -0.6622161849s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+14):not(.add_icon) { -webkit-animation-duration: 0.1179056198s; animation-duration: 0.1179056198s; transform-origin: 1.5158981889rem 0.9005220964rem; -webkit-animation-delay: -0.0275543896s; animation-delay: -0.0275543896s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+15) { -webkit-animation-duration: 0.1179056198s; animation-duration: 0.1179056198s; transform-origin: calc(11px - 1.8rem + 1.5158981889rem) calc(7px + 0.9005220964rem); -webkit-animation-delay: -0.0275543896s; animation-delay: -0.0275543896s; }

#applicant_modal .modal_icons.editing svg:nth-child(15n+15):not(.add_icon) { -webkit-animation-duration: 0.1427575213s; animation-duration: 0.1427575213s; transform-origin: 0.1058474605rem 1.6039368056rem; -webkit-animation-delay: -0.3230979952s; animation-delay: -0.3230979952s; }

#applicant_modal .modal_icons.editing .modal_icon_deleter:nth-child(15n+16) { -webkit-animation-duration: 0.1427575213s; animation-duration: 0.1427575213s; transform-origin: calc(11px - 1.8rem + 0.1058474605rem) calc(7px + 1.6039368056rem); -webkit-animation-delay: -0.3230979952s; animation-delay: -0.3230979952s; }

#applicant_modal .modal_unused_icons { position: relative; overflow: visible; transition: opacity .15s ease-in-out; }

#applicant_modal .modal_unused_icons.hidden { opacity: 0; pointer-events: none; }

#applicant_modal .modal_unused_icons > div { position: absolute; width: 20em; max-width: 100%; box-sizing: border-box; padding: .4em; left: max(0px, calc(50% - 10em)); margin-top: .5em; border-radius: .5em; box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); background-color: white; white-space: nowrap; overflow-x: auto; min-height: 2.2em; }

#applicant_modal .modal_unused_icons > div svg { display: inline-block; transition: transform .15s ease-in-out; cursor: pointer; }

#applicant_modal .modal_unused_icons > div svg:hover { transform: scale(1.2); }

#applicant_modal .modal_unused_icons svg { color: #37474F; height: 1.4em; display: block; fill: currentColor; border-radius: .25em; padding: .2em; border: 1px solid #6a6a6a; }

#applicant_modal .modal_unused_icons svg:not(:first-of-type) { margin-left: .75em; }

#applicant_modal .modal_unused_icons svg .fill_red { fill: #d10202; }

#applicant_modal #modal_scroller { overflow-y: auto; box-shadow: 0 -1.2em 0.25em -1em rgba(0, 0, 0, 0.4) inset; border-radius: .25em; }

#applicant_modal .modal_section, #applicant_modal .modal_prompt { box-sizing: border-box; border: 1px solid #6a6a6a; border-radius: .5rem; margin-top: 1.5rem; margin-bottom: 1px; }

#applicant_modal .modal_section .modal_header, #applicant_modal .modal_prompt .modal_header { text-transform: uppercase; font-weight: 700; font-size: .8rem; margin: -.4rem 0 0; text-align: center; }

#applicant_modal .modal_section .modal_header span, #applicant_modal .modal_prompt .modal_header span { background-color: white; padding: 0 .5em; }

#applicant_modal .modal_section .modal_row, #applicant_modal .modal_prompt .modal_row { display: flex; justify-content: space-evenly; margin: 1rem 0; }

@media only screen and (max-width: 767px) { #applicant_modal .modal_section .modal_row, #applicant_modal .modal_prompt .modal_row { flex-direction: column; align-items: center; margin: 0; } }

#applicant_modal .modal_section .modal_row .field, #applicant_modal .modal_prompt .modal_row .field { display: inline-flex; flex-direction: column; width: 15em; flex-shrink: 1; margin: 0 1em; color: #37474F; }

@media only screen and (max-width: 767px) { #applicant_modal .modal_section .modal_row .field, #applicant_modal .modal_prompt .modal_row .field { margin: .5em 1em; min-width: calc(100% - 2em); max-width: calc(100% - 2em); } }

#applicant_modal .modal_section .modal_row .field span:nth-child(1), #applicant_modal .modal_prompt .modal_row .field span:nth-child(1) { padding: .2rem .4rem; border-radius: .25rem .25rem 1.5px 1.5px; white-space: nowrap; overflow-x: scroll; font-weight: 400; }

#applicant_modal .modal_section .modal_row .field span.eliminable:nth-child(1), #applicant_modal .modal_prompt .modal_row .field span.eliminable:nth-child(1) { background-color: #ffcccc; }

#applicant_modal .modal_section .modal_row .field span.eliminable:nth-child(1) + span:before, #applicant_modal .modal_prompt .modal_row .field span.eliminable:nth-child(1) + span:before { background-color: #d10202; }

#applicant_modal .modal_section .modal_row .field :not(span):nth-child(1) + span:before, #applicant_modal .modal_prompt .modal_row .field :not(span):nth-child(1) + span:before { display: none; }

#applicant_modal .modal_section .modal_row .field span:nth-child(2), #applicant_modal .modal_prompt .modal_row .field span:nth-child(2) { text-transform: uppercase; font-size: 75%; padding-top: .2rem; }

#applicant_modal .modal_section .modal_row .field span:nth-child(2):before, #applicant_modal .modal_prompt .modal_row .field span:nth-child(2):before { content: ""; background-color: #DDD; width: 100%; height: 3px; border-radius: 1.5px; display: block; position: relative; top: -.2rem; left: 0; }

#applicant_modal .modal_section select, #applicant_modal .modal_prompt select { padding-right: .4em; background-image: initial; }

#applicant_modal .modal_prompt.editing { box-shadow: 0 0.2rem 0.25rem 0rem rgba(0, 0, 0, 0.4); }

#applicant_modal .modal_prompt .modal_prompt_response, #applicant_modal .modal_prompt textarea { padding: 0.75em 0.75em calc(.75em - 3px); text-align: justify; line-height: 1.75; font-family: Rubik, sans-serif; font-weight: 300; color: #37474F; border-radius: calc(.5rem - 1px); -moz-column-width: calc((70rem - 1rem) / 3); column-width: calc((70rem - 1rem) / 3); grid-column-gap: 1.5em; -moz-column-gap: 1.5em; column-gap: 1.5em; white-space: pre-wrap; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

#applicant_modal .modal_prompt textarea { width: 100%; display: block; box-shadow: none; }

#applicant_modal .modal_prompt .modal_prompt_response { border-bottom: 3px solid transparent; }

#applicant_modal #modal_btn_container { display: flex; justify-content: flex-end; padding-top: .5rem; }

#applicant_modal #modal_btn_container button { font-size: 1.2rem; }

@media only screen and (max-width: 767px) { #applicant_modal #modal_btn_container { flex-direction: column; } }

#gapi-failed { display: none; flex-direction: column; justify-content: center; text-align: center; align-items: center; flex-grow: 1; font-family: Rubik, sans-serif; color: #37474F; font-weight: 300; font-size: 1.2rem; }

#gapi-failed button { margin-top: .5rem; }