---
---
{%- include variables.scss -%}

$finalist-color: change-color($theme-color, $hue: 30deg, $lightness: 90%);
$recipient-color: change-color($theme-color, $lightness: 90%);

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    :root[data-is-focusing="true"] & {
        overflow: hidden;
    }

    :root[data-is-dragging="true"] & {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        touch-action: none;
    }
}

svg {
    .fill_red {
        fill: change-color($theme-color, $hue: 0deg);
    }

    .fill_gray {
        fill: change-color($theme-color, $saturation: 0);
    }

    .fill_text_color {
        fill: $text-color;
    }

    .fill_theme_color {
        fill: $theme-color;
    }

    .fill_recipient {
        fill: $recipient-color;
    }

    .fill_finalist {
        fill: $finalist-color;
    }
}

#content {
    @include centering-flex;
    flex-grow: 1;
}

#loading_react {
    font-size: 1.2rem;
}

#loading_react {
    font-family: $Rubik;
    color: $text-color;
    text-align: center;
    font-weight: 300;
}

#search_bar {
    @include body-width;
    display: flex;

    > input {
        flex-grow: 1;
        margin-right: 1rem;
    }

    > select {
        margin-right: 1rem;
    }

    #options {
        @include centering-flex;
        position: relative;

        > input {
            font-size: 1rem;
            opacity: 0;
            height: 1.6em;
            width: 1.6em;
            position: absolute;
            cursor: pointer;
            margin: 0;
            transform: rotate(0deg);

            &:checked {
                ~ svg {
                    transform: rotate(150deg);
                    color: $theme-color;
                }

                ~ #options_window {
                    display: flex;
                    z-index: 1;
                }
            }
        }

        > svg {
            height: 1.4rem;
            width: 1.4em;
            padding: .1em;
            pointer-events: none;
            transition: transform .4s ease-in-out,
                color .4s ease-in-out;
            color: change-color($theme-color, $saturation: 0deg);
        }

        #options_window {
            color: $text-color;
            position: absolute;
            width: 20rem;
            max-width: calc(100vw - 2rem);
            top: calc(100% + 0.5rem);
            right: 0;
            background-color: white;
            display: none;
            border-radius: .25rem;
            box-shadow: $shadow;
            padding: .5rem .75rem;
            box-sizing: border-box;
            font-family: $Rubik;
            font-weight: 300;
            flex-direction: column;

            .option_row {
                display: flex;
                align-items: flex-end;

                &:not(:first-of-type) {
                    margin-top: .3rem;
                }

                .spacer {
                    flex-grow: 1;
                }

                select {
                    padding-top: 0;
                    padding-bottom: 0;
                    box-shadow: 0 0 0 1px change-color($theme-color, $saturation: 0);
                    margin: 1px;
                    font-size: calc(1em - 3px);
                    display: block;
                }
            }

            .option_desc {
                font-size: 0.8rem;
                color: scale-color($text-color, $lightness: 30%);
            }

            .option_alert {
                color: change-color($theme-color, $hue: 0deg);
            }
        }
    }
}

#voting_controls {
    @include body-width;
    font-family: $Rubik;
    font-weight: 300;
    color: $text-color;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: $shadow;
    text-align: center;

    .applicant_num {
        font-weight: 450;
    }

    button {
        font-size: 1.2rem;
    }

    .poll_type {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: .5em;
        margin-left: .5em;

        svg {
            height: 3em;
            margin-bottom: .5em;

            * {
                transition: fill .1s ease-in-out;
            }
        }

        &:hover .fill_finalist {
            fill: scale-color($finalist-color, $lightness: -10%);
        }
    }

    .direction_text {
        display: block;
        margin-top: 1rem;
        font-weight: 450;
    }

    .button_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;

        button {
            &:not(:first-child) {
                margin-left: .5rem
            }
        }
    }

    .poll_receivers_list {
        display: flex;
        margin: .5rem auto;
        width: 50rem;
        max-width: 100%;
        justify-content: center;

        .poll_receiver {
            display: inline-flex;
            flex-direction: column;
            border-radius: .25rem;
            box-shadow: $shadow;
            margin: 0 .75rem;
    
            .poll_receiver_name {
                font-weight: 450;
                padding: .2rem .4rem;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }
    
            .poll_receiver_status {
                text-transform: uppercase;
                font-size: .7em;
                font-weight: 450;
                padding: .2rem .4rem;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                color: white;
            }
    
            &.ready {
                .poll_receiver_status {
                    background-color: $theme-color;
                }
            }
    
            &.not_ready {
                .poll_receiver_status {
                    background-color: change-color($theme-color, $saturation: 0);
                }
            }
        }
    }
}

.poll_res {
    margin: 1rem 0 0;
    overflow-x: auto;

    &_container {
        display: inline-flex;
        margin: auto;
    }

    &_col {
        display: flex;
        flex-direction: column;
        margin: 0 .5rem;
    }

    &_bar {
        display: flex;
        flex-direction: column;
        height: 5rem;
        align-items: center;

        span {
            display: inline-block;
            height: 0;
            min-width: 1rem;
            padding: .15rem .3rem;
            line-height: 1;

            &.hidden {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
                visibility: hidden;
            }
        }

        > :first-child {
            flex-basis: 0;
            color: $text-color;
            font-weight: 450;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                position: relative;
                top: -1rem;
            }
        }

        > :last-child {
            background-color: $theme-color;
            flex-basis: 0;
            color: white;
            font-weight: 450;
            position: relative;
            overflow: hidden;
        }
    }

    &_name {
        border-top: 1px solid $text-color;
        padding: .15rem .5rem 0;
        margin: 0 -.5rem;
    }
}

#pre_applicant_message {
    @include body-width;
    font-family: $Rubik;
    font-weight: 300;
    color: $text-color;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: $shadow;
    text-align: center;

    p {
        font-size: 1rem;
        margin: 1rem 0 0;
        text-align: left;

        &:first-child {
            margin-top: 0;
        }
    }

    .poll_ready {
        display: inline-block;
        margin: 0;
        font-size: 1.2rem;
    }

    &.hidden {
        display: none;
    }
}

#applicant_table {
    @include body-width;
    box-shadow: $shadow;
    margin-top: 1em;
    border-radius: .5rem;
    padding: .5rem .75rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &.unbiased .applicant_row {
        .applicant_status {
            margin-right: 0;
        }

        .applicant_id {
            font-weight: 450;

            span {
                padding: .25em .5em;
                border-radius: .25em;
            }
            
            &.filtering {
                margin-left: .5rem;

                span {
                    background-color: $theme-color;
                    color: white;
                    font-weight: 450;
                }
            }
        }
    }

    .num_results {
        font-family: $Rubik;
        font-weight: 300;
        padding: .25rem 0;
        color: $text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;

        .applicant_num {
            font-weight: 450;
        }
    }

    .applicant_row,
    #applicant_message,
    #applicant_error {
        font-family: $Rubik;
        font-weight: 300;
        font-size: 1rem;
        display: flex;
        align-items: center;
        padding: .25rem;
        color: $text-color;
        border-radius: 0;
        transition: background-color .15s ease-in-out;

        &.hidden {
            display: none;
        }
    }

    .applicant_row {
        &.br_top,
        &.applicant_status_applicant {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;

            .applicant_selection,
            .applicant_ranking {
                border-top-left-radius: .25rem;
            }
        }
    
        &.br_bottom,
        &.applicant_status_applicant {
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;

            .applicant_selection,
            .applicant_ranking {
                border-bottom-left-radius: .25rem;
            }
        }

        &.dragging {
            pointer-events: none;

            * {
                visibility: hidden;
            }
        }

        &.floating {
            position: absolute;
            width: calc(100% - 1.5rem);
            animation: pop-out .3s cubic-bezier(.34,2.5,.66,2.5) 1 forwards;
            transition: initial;
            border-radius: .25rem;
            box-shadow: $shadow;

            @at-root {
                @keyframes pop-out {
                    0% {
                        transform: scale(1);
                    }

                    100% {
                        transform: scale(1.01);
                    }
                }
            }
        }

        &.applicant_status_applicant {
            background-color: white;

            &:hover,
            &:focus,
            &:focus-within,
            &.dragging,
            &.floating,
            .applicant_match .partial_match {
                background-color: scale-color(white, $lightness: -10%);
            }
        }

        &.applicant_status_finalist {
            background-color: $finalist-color;

            &:hover,
            &:focus,
            &:focus-within,
            &.dragging,
            &.floating,
            .applicant_match .partial_match {
                background-color: scale-color($finalist-color, $lightness: -10%);
            }
        }

        &.applicant_status_recipient {
            background-color: $recipient-color;

            &:hover,
            &:focus,
            &:focus-within,
            &.dragging,
            &.floating,
            .applicant_match .partial_match {
                background-color: scale-color($recipient-color, $lightness: -10%);
            }
        }

        &.applicant_status_ineligible {
            background-color: change-color($theme-color, $hue: 0deg, $lightness: 90%);

            &:hover,
            &:focus,
            &:focus-within,
            &.dragging,
            &.floating,
            .applicant_match .partial_match {
                background-color: scale-color(change-color($theme-color, $hue: 0deg, $lightness: 90%), $lightness: -10%);
            }
        }

        .spacer {
            flex-grow: 1;
        }
    
        .applicant_status {
            height: 2rem;
            width: 2rem;
            border-radius: .25rem;
            font-family: "Fredoka One", cursive, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: .5em;
    
            &.filtering {
                background-color: $theme-color;
                color: white;
            }
        }

        .applicant_selection {
            height: 2rem;
            width: 2rem;
            margin: -.25rem .25rem -.25rem -.25rem;
            padding: .25rem;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: calc(100% - .5rem);
                width: calc(100% - .5rem);
                top: .25rem;
                left: .25rem;
                box-shadow: 0 0 0.1em 0 rgba(0,0,0,.4) inset;
                background-color: white;
                border-radius: .25rem;
                border: 1px solid change-color($theme-color, $saturation: 0);
                box-sizing: border-box;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                height: calc(100% - .9rem - 2px);
                width: calc(100% - .9rem - 2px);
                top: calc(.45rem + 1px);
                left: calc(.45rem + 1px);
                border-radius: .25rem;
                background-color: scale-color(change-color($theme-color, $saturation: 0), $lightness: 60%);
                transition: background-color .1s ease-in-out;
            }

            &:hover:after {
                background-color: scale-color(scale-color(change-color($theme-color, $saturation: 0), $lightness: 60%), $lightness: -10%);
            }

            &.disabled:after {
                background-color: scale-color(change-color($theme-color, $saturation: 0), $lightness: 80%);
            }
        }

        .applicant_ranking {
            height: 2rem;
            width: 2rem;
            margin: 0 .5rem 0 0;
            border-radius: .25rem;
            position: relative;
            border-radius: .25rem;
            font-size: 1.2em;
            font-weight: 450;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            div {
                display: none;
                height: .5rem;
                width: 1rem;
                padding: .2rem;

                &:before {
                    content: "";
                    display: block;
                    height: 0;
                    width: 0;
                    border-width: .5rem;
                    border-style: solid;
                    border-color: currentColor transparent;
                }

                &:hover:before,
                &:focus:before {
                    border-color: $theme-color transparent;
                }

                &:first-of-type:before {
                    border-top-width: 0;
                }

                &:last-of-type:before {
                    border-bottom-width: 0;
                }

                &.hidden:before {
                    visibility: hidden;
                }
            }
        }

        &:not(.floating):hover .applicant_ranking,
        &:not(.floating):focus .applicant_ranking,
        &:not(.floating):focus-within .applicant_ranking {
            div {
                display: block;
            }
            
            span {
                display: none;
            }
        }

        &[data-selected=true] .applicant_selection {
            &:after {
                background-color: $theme-color;
            }

            &:hover:after {
                background-color: scale-color($theme-color, $lightness: -10%);
            }
        }

        .applicant_name {
            font-weight: 450;

            .filtering {
                background-color: $theme-color;
                color: white;
            }
        }

        .applicant_match {
            margin-left: .5em;
            display: flex;
            flex-wrap: wrap;

            .whole_match,
            .partial_match {
                padding: .25em .5em;
                border-radius: .25em;
                font-weight: 450;

                + .whole_match,
                + .partial_match {
                    margin-left: .5em;
                }
            }

            .whole_match {
                background-color: $theme-color;
                color: white;
            }

            .partial_match {
                color: $text-color;

                span {
                    background-color: $theme-color;
                    color: white;
                }
            }

            .hidden {
                display: none;
            }
        }

        .applicant_match + .applicant_id {
            min-width: 5em;
            text-align: left;

            span {
                padding: .25em .5em;
                border-radius: .25em;

                &.filtering {
                    background-color: $theme-color;
                    color: white;
                    font-weight: 450;
                }
            }
        }

        .applicant_match + .applicant_icons {
            display: flex;

            svg {
                height: 1.4em;
                display: block;
                fill: currentColor;
                margin-right: .5em;
            }
        }
    }

    #applicant_message {
        justify-content: center;
        padding: 0;
    }

    #applicant_error {
        flex-direction: column;
        text-align: center;
    }

    #open_spreadsheet {
        font-size: 1.2rem;
    }
}

#applicant_status_legend {
    @include body-width;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: $Rubik;
    font-weight: 300;
    align-items: flex-start;

    > div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @media #{$mobile} {
            display: inline-flex;
            flex-direction: column;
            width: initial;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;

            .applicant_status {
                height: 2rem;
                width: 2rem;
                border-radius: .25rem;
                font-family: "Fredoka One", cursive, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .5em;
        
                &.filtering {
                    background-color: $theme-color;
                    color: white;
                }
            }

            span {
                flex-grow: 1;
            }
        }
    }
}

#modal_back {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;

    :root:not([data-is-focusing="true"]) & {
        display: none;
    }
}

#applicant_modal {
    height: 35em;
    max-height: calc(100% - 2rem);
    width: $content-width;
    max-width: calc(100% - 2rem);
    background-color: white;
    font-family: $Rubik;
    font-weight: 300;
    border-radius: .5rem;
    box-shadow: $shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    box-sizing: border-box;
    overflow: auto;
    position: relative;

    #modal_message {
        @include centering-flex;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparentize(white, 0.1);
        z-index: 1;
        font-family: $Oswald;
        font-size: 2rem;
        padding: 0 1em;
        box-sizing: border-box;

        &.hidden {
            display: none;
        }
    }

    > .spacer {
        flex-grow: 1;
    }

    @media #{$mobile} {
        height: 100%;
        max-height: initial;
        width: 100%;
        max-width: initial;
        overflow: auto;
        border-radius: 0;
    }

    #modal_content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        #modal_scroller {
            h1 {
                font-family: $Oswald;
                font-size: 2rem;
                margin: 1rem 0 .2rem;
                padding-bottom: 3px;

                input {
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: -3px;
                    max-width: 100%;
                    box-sizing: border-box;
                }
            }

            h2 {
                font-family: $Oswald;
                font-size: 1.4rem;
                margin: 0;
                padding-bottom: 3px;

                input {
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: -3px;
                }

                span:last-child {
                    font-family: $Rubik;
                    font-weight: 300;
                    font-size: 80%;
                    color: $theme-color;
                }
            }

            h3 {
                font-family: $Rubik;
                font-weight: 450;
                font-size: 1.2rem;
                margin: 1rem 0 0;
                padding: .2em 0;

                select {
                    margin-top: -.2em;
                    margin-bottom: -2em;
                    padding-bottom: calc(.2em - 3px);
                    padding-left: 1.4em;
                }
            }

            button.destructive {
                font-size: 1.2rem;
                align-self: center;
                display: block;
                margin: auto;
            }

            input,
            select {
                font-family: inherit;
                text-align: center;
                text-align-last: center;
                color: inherit;
                font-weight: 450;
            }

            input,
            select,
            textarea {
                background-color: transparent;
            }
        }
    }

    .modal_icons {
        display: inline-block;
        justify-content: center;
        overflow: visible;
        width: 20em;
        max-width: 100%;
        margin: css-max(calc(7px + .2em), .5em) 0 0;
        border-radius: .5em;
        line-height: 0;

        &.hidden {
            display: none;
        }

        svg {
            color: $text-color;
            height: 1.4em;
            display: inline-block;
            fill: currentColor;
            border-radius: .25em;
            padding: .2em;
            margin: 0 .375rem;
        }

        .modal_icon_deleter {
            margin: -7px calc(-7px + .375rem) 0 calc(-11px - .375rem);
            cursor: pointer;
            border-radius: 50%;
            box-sizing: content-box;
            padding: 0;
            vertical-align: top;
            position: relative;
            border: none;
            background-color: transparent;

            div {
                background-color: change-color($theme-color, $hue: 0deg);
                background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10' stroke-width='1.25' stroke='white'><line x1='-2.5' y1='-2.5' x2='2.5' y2='2.5'/><line x1='2.5' y1='-2.5' x2='-2.5' y2='2.5'/></svg>");
                height: 12px;
                width: 12px;
                border-radius: 50%;
                border: 3px solid transparent;
                background-clip: content-box;
                transition: transform .15s ease-in-out;
            }
        }

        svg:hover + .modal_icon_deleter div,
        .modal_icon_deleter:hover div {
            transform: scale(1.33333);
        }

        .add_icon {
            cursor: pointer;
        }

        // Icons "wobble" (like how they do on iOS) when they are in edit mode to show that they can
        // be deleted. Basic idea taken from (with slight modifications):
        // https://www.kirupa.com/html5/creating_the_ios_icon_jiggle_wobble_effect_in_css.htm
        @at-root {
            @keyframes wobble {
                0% {
                    transform: rotate(2deg);
                    animation-timing-function: ease-in;
                }

                100% {
                    transform: rotate(-2deg);
                    animation-timing-function: ease-out;
                }
            }
        }

        &.editing svg {
            animation: wobble infinite alternate;
            box-shadow: $shadow;
            margin: 0 calc(.375rem - 1px);
            cursor: pointer;
        }

        &.editing .modal_icon_deleter {
            animation: wobble infinite alternate;
        }

        // Add "randomness" for 15 icons and then it repeats after that.
        @for $i from 1 through 15 {
            $duration: #{random() * .07 + .09 * 1s};
            $origin-x: #{random() * 1.8rem};
            $origin-y: #{random() * 1.8rem};
            $delay: #{random() * -1s};

            &.editing svg:nth-child(15n+#{$i}):not(.add_icon) {
                animation-duration: $duration;
                transform-origin: $origin-x $origin-y;
                animation-delay: $delay;
            }

            &.editing .modal_icon_deleter:nth-child(15n+#{$i + 1}) {
                animation-duration: $duration;
                // Set the transform-origin to the same position as the icon so that it moves along
                // with it.
                transform-origin: calc(11px - 1.8rem + #{$origin-x}) calc(7px + #{$origin-y});
                animation-delay: $delay;
            }
        }
    }

    .modal_unused_icons {
        position: relative;
        overflow: visible;
        transition: opacity .15s ease-in-out;

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        > div {
            $width: 20em;
            position: absolute;
            width: $width;
            max-width: 100%;
            box-sizing: border-box;
            padding: .4em;
            left: css-max(0px, calc(50% - #{$width / 2}));
            margin-top: .5em;
            border-radius: .5em;
            box-shadow: $shadow;
            background-color: white;
            white-space: nowrap;
            overflow-x: auto;
            min-height: 1.4em + .4em * 2;

            svg {
                display: inline-block;
                transition: transform .15s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        svg {
            color: $text-color;
            height: 1.4em;
            display: block;
            fill: currentColor;
            border-radius: .25em;
            padding: .2em;
            border: 1px solid change-color($theme-color, $saturation: 0deg);
    
            &:not(:first-of-type) {
                margin-left: .75em;
            }
        }
    }

    #modal_scroller {
        overflow-y: auto;
        box-shadow: 0 -1.2em 0.25em -1em rgba(0,0,0, .4) inset;
        border-radius: .25em;
    }

    .modal_section {
        box-sizing: border-box;
        border: 1px solid change-color($theme-color, $saturation: 0%);
        border-radius: .5rem;
        margin-top: 1.5rem;
        margin-bottom: 1px;

        .modal_header {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .8rem;
            margin: -.4rem 0 0;
            text-align: center;
    
            span {
                background-color: white;
                padding: 0 .5em;
            }
        }
    
        .modal_row {
            display: flex;
            justify-content: space-evenly;
            margin: 1rem 0;

            @media #{$mobile} {
                flex-direction: column;
                align-items: center;
                margin: 0;
            }
    
            .field {
                display: inline-flex;
                flex-direction: column;
                width: 15em;
                flex-shrink: 1;
                margin: 0 1em;
                color: $text-color;

                @media #{$mobile} {
                    margin: .5em 1em;
                    // Override width set by styles.
                    min-width: calc(100% - 2em);
                    max-width: calc(100% - 2em);
                }
    
                span:nth-child(1) {
                    padding: .2rem .4rem;
                    border-radius: .25rem .25rem 1.5px 1.5px;
                    white-space: nowrap;
                    overflow-x: scroll;
                    font-weight: 450;

                    &.eliminable {
                        background-color: change-color($theme-color, $hue: 0deg, $lightness: 90%);

                        + span:before {
                            background-color: change-color($theme-color, $hue: 0deg);
                        }
                    }
                }

                :not(span):nth-child(1) + span:before {
                    display: none;
                }
    
                span:nth-child(2) {
                    text-transform: uppercase;
                    font-size: 75%;
                    padding-top: .2rem;

                    &:before {
                        content: "";
                        background-color: #DDD;
                        width: 100%;
                        height: 3px;
                        border-radius: 1.5px;
                        display: block;
                        position: relative;
                        top: -.2rem;
                        left: 0;
                    }
                }
            }
        }

        select {
            padding-right: .4em;
            background-image: initial;
        }
    }

    .modal_prompt {
        @extend .modal_section;

        &.editing {
            box-shadow: $shadow;
        }

        .modal_prompt_response,
        textarea {
            padding: .75em .75em calc(.75em - 3px);
            text-align: justify;
            line-height: 1.75;
            font-family: $Rubik;
            font-weight: 300;
            color: $text-color;
            border-radius: calc(.5rem - 1px);
            column-width: calc((#{$content-width} - 1rem) / 3);
            grid-column-gap: 1.5em;
            column-gap: 1.5em;
            white-space: pre-wrap;
            hyphens: auto;
        }

        textarea {
            width: 100%;
            display: block;
            box-shadow: none;
        }

        .modal_prompt_response {
            border-bottom: 3px solid transparent;
        }
    }

    #modal_btn_container {
        display: flex;
        justify-content: flex-end;
        padding-top: .5rem;

        button {
            font-size: 1.2rem;
        }

        @media #{$mobile} {
            flex-direction: column;
        }
    }
}

#gapi-failed {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    font-family: $Rubik;
    color: $text-color;
    font-weight: 300;
    font-size: 1.2rem;

    button {
        margin-top:.5rem;
    }
}