---
---
{%- include variables.scss -%}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    :root[data-is-focusing="true"] & {
        overflow: hidden;
    }
}

#content {
    @include centering-flex;
    flex-grow: 1;
}

#loading_react {
    font-size: 1.2rem;
}

#loading_react {
    font-family: $Rubik;
    color: $text-color;
    text-align: center;
    font-weight: 300;
}

#search_bar {
    @include body-width;
    display: flex;

    > input {
        flex-grow: 1;
        margin-right: 1rem;
    }

    > select {
        margin-right: 1rem;
    }

    #options {
        @include centering-flex;
        position: relative;

        > input {
            font-size: 1rem;
            opacity: 0;
            height: 1.6em;
            width: 1.6em;
            position: absolute;
            cursor: pointer;
            margin: 0;
            transform: rotate(0deg);

            &:checked {
                ~ svg {
                    transform: rotate(150deg);
                    color: $theme-color;
                }

                ~ #options_window {
                    display: flex;
                }
            }
        }

        > svg {
            height: 1.4rem;
            width: 1.4em;
            padding: .1em;
            pointer-events: none;
            transition: transform .4s ease-in-out,
                color .4s ease-in-out;
            color: change-color($theme-color, $saturation: 0deg);
        }

        #options_window {
            color: $text-color;
            position: absolute;
            width: 20rem;
            max-width: calc(100vw - 2rem);
            top: calc(100% + 0.5rem);
            right: 0;
            background-color: white;
            display: none;
            border-radius: .25rem;
            box-shadow: $shadow;
            padding: .5rem .75rem;
            box-sizing: border-box;
            font-family: $Rubik;
            font-weight: 300;
            flex-direction: column;

            .option_row {
                display: flex;
                align-items: flex-end;

                .spacer {
                    flex-grow: 1;
                }

                select {
                    padding-top: 0;
                    padding-bottom: 0;
                    box-shadow: 0 0 0 1px change-color($theme-color, $saturation: 0);
                    margin: 1px;
                    font-size: calc(1em - 3px);
                    display: block;
                }
            }

            .option_desc {
                font-size: 0.8rem;
                color: scale-color($text-color, $lightness: 30%);
            }

            .option_alert {
                color: change-color($theme-color, $hue: 0deg);
            }
        }
    }
}

#pre_applicant_message {
    @include body-width;
    font-family: $Rubik;
    font-weight: 300;
    color: $text-color;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: $shadow;

    &.hidden {
        display: none;
    }
}

#applicant_table {
    @include body-width;
    box-shadow: $shadow;
    margin-top: 1em;
    border-radius: .5rem;
    padding: .5rem .75rem;
    display: flex;
    flex-direction: column;

    &.unbiased .applicant_row {
        .applicant_status {
            margin-right: 0;
        }

        .applicant_id {
            font-weight: 400;

            span {
                padding: .25em .5em;
                border-radius: .25em;
            }
            
            &.filtering {
                margin-left: .5rem;

                span {
                    background-color: $theme-color;
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }

    .applicant_row,
    #applicant_message,
    #applicant_error {
        font-family: $Rubik;
        font-weight: 300;
        font-size: 1rem;
        display: flex;
        align-items: center;
        padding: .25rem;
        color: $text-color;
        border-radius: 0;
        transition: background-color .15s ease-in-out;

        &.hidden {
            display: none;
        }
    }

    .applicant_row {
        &.br_top,
        &.applicant_status_applicant {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
    
        &.br_bottom,
        &.applicant_status_applicant {
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        &.applicant_status_applicant {
            background-color: white;

            &:hover,
            .applicant_match .partial_match {
                background-color: scale-color(white, $lightness: -10%);
            }
        }

        &.applicant_status_finalist {
            background-color: change-color($theme-color, $hue: 30deg, $lightness: 90%);

            &:hover,
            .applicant_match .partial_match {
                background-color: scale-color(change-color($theme-color, $hue: 30deg, $lightness: 90%), $lightness: -10%);
            }
        }

        &.applicant_status_recipient {
            background-color: change-color($theme-color, $lightness: 90%);

            &:hover,
            .applicant_match .partial_match {
                background-color: scale-color(change-color($theme-color, $lightness: 90%), $lightness: -10%);
            }
        }

        &.applicant_status_ineligible {
            background-color: change-color($theme-color, $hue: 0deg, $lightness: 90%);

            &:hover,
            .applicant_match .partial_match {
                background-color: scale-color(change-color($theme-color, $hue: 0deg, $lightness: 90%), $lightness: -10%);
            }
        }

        .spacer {
            flex-grow: 1;
        }
    
        .applicant_status {
            height: 2rem;
            width: 2rem;
            border-radius: .25rem;
            font-family: "Fredoka One", cursive, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: .5em;
    
            &.filtering {
                background-color: $theme-color;
                color: white;
            }
        }

        .applicant_name {
            font-weight: 400;

            .filtering {
                background-color: $theme-color;
                color: white;
            }
        }

        .applicant_match {
            margin-left: .5em;
            display: flex;
            flex-wrap: wrap;

            .whole_match,
            .partial_match {
                padding: .25em .5em;
                border-radius: .25em;
                font-weight: 400;

                + .whole_match,
                + .partial_match {
                    margin-left: .5em;
                }
            }

            .whole_match {
                background-color: $theme-color;
                color: white;
            }

            .partial_match {
                color: $text-color;

                span {
                    background-color: $theme-color;
                    color: white;
                }
            }
        }

        .applicant_match + .applicant_id {
            min-width: 5em;
            text-align: left;

            span {
                padding: .25em .5em;
                border-radius: .25em;

                &.filtering {
                    background-color: $theme-color;
                    color: white;
                    font-weight: 400;
                }
            }
        }

        .applicant_match + .applicant_icons {
            display: flex;

            .applicant_icon {
                height: 1.4em;
                display: block;
                fill: currentColor;
                margin-right: .5em;
                
                .fill_red {
                    fill: change-color($theme-color, $hue: 0deg);
                }
            }
        }
    }

    #applicant_message {
        justify-content: center;
    }

    #applicant_error {
        flex-direction: column;
        text-align: center;
    }

    #open_spreadsheet {
        font-size: 1.2rem;
    }
}

#applicant_status_legend {
    @include body-width;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: $Rubik;
    font-weight: 300;
    align-items: flex-start;

    > div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @media #{$mobile} {
            display: inline-flex;
            flex-direction: column;
            width: initial;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;

            .applicant_status {
                height: 2rem;
                width: 2rem;
                border-radius: .25rem;
                font-family: "Fredoka One", cursive, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .5em;
        
                &.filtering {
                    background-color: $theme-color;
                    color: white;
                }
            }

            span {
                flex-grow: 1;
            }
        }
    }
}

#modal_back {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;

    :root:not([data-is-focusing="true"]) & {
        display: none;
    }
}

#applicant_modal {
    height: 35em;
    max-height: calc(100% - 2rem);
    width: $content-width;
    max-width: calc(100% - 2rem);
    background-color: white;
    font-family: $Rubik;
    font-weight: 300;
    border-radius: .5rem;
    box-shadow: $shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    box-sizing: border-box;
    overflow: auto;
    position: relative;

    #modal_message {
        @include centering-flex;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparentize(white, 0.1);
        z-index: 1;
        font-family: $Oswald;
        font-size: 2rem;
        padding: 0 1em;
        box-sizing: border-box;

        &.hidden {
            display: none;
        }
    }

    > .spacer {
        flex-grow: 1;
    }

    @media #{$mobile} {
        height: 100%;
        max-height: initial;
        width: 100%;
        max-width: initial;
        overflow: auto;
        border-radius: 0;
    }

    #modal_content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        h1 {
            font-family: $Oswald;
            font-size: 2rem;
            margin: 1rem 0 .2rem;
            padding-bottom: 3px;

            input {
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: -3px;
            }
        }

        h2 {
            font-family: $Oswald;
            font-size: 1.4rem;
            margin: 0;
            padding-bottom: 3px;

            input {
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: -3px;
            }

            span:last-child {
                font-family: $Rubik;
                font-weight: 300;
                font-size: 80%;
                color: $theme-color;
            }
        }

        h3 {
            font-family: $Rubik;
            font-weight: 400;
            font-size: 1.2rem;
            margin: 1.5rem 0 0;
            padding: .2em 0 calc(.2em + 3px);

            select {
                margin-top: -.2em;
                margin-bottom: calc(-.2em - 3px);
                padding-left: 1.4em;
            }
        }

        button.destructive {
            font-size: 1.2rem;
            align-self: center;
        }

        input,
        select {
            font-family: inherit;
            text-align: center;
            text-align-last: center;
            color: inherit;
            font-weight: 400;
        }

        input,
        select,
        textarea {
            background-color: transparent;
        }
    }

    #modal_scroller {
        overflow-y: auto;
        box-shadow: 0 -1.2em 0.25em -1em rgba(0,0,0, .4) inset;
        border-radius: .25em;
    }

    .modal_section {
        box-sizing: border-box;
        border: 1px solid change-color($theme-color, $saturation: 0%);
        border-radius: .5rem;
        margin-top: 1.5rem;
        margin-bottom: 1px;

        .modal_header {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .8rem;
            margin: -.4rem 0 0;
            text-align: center;
    
            span {
                background-color: white;
                padding: 0 .5em;
            }
        }
    
        .modal_row {
            display: flex;
            justify-content: space-evenly;
            margin: 1rem 0;

            @media #{$mobile} {
                flex-direction: column;
                align-items: center;
                margin: 0;
            }
    
            .field {
                display: inline-flex;
                flex-direction: column;
                width: 15em;
                flex-shrink: 1;
                margin: 0 1em;
                color: $text-color;

                @media #{$mobile} {
                    margin: .5em 1em;
                    // Override width set by styles.
                    min-width: calc(100% - 2em);
                    max-width: calc(100% - 2em);
                }
    
                span:nth-child(1) {
                    padding: .2rem .4rem;
                    border-radius: .25rem .25rem 1.5px 1.5px;
                    white-space: nowrap;
                    overflow-x: scroll;
                    font-weight: 400;

                    &.eliminable {
                        background-color: change-color($theme-color, $hue: 0deg, $lightness: 90%);

                        + span:before {
                            background-color: change-color($theme-color, $hue: 0deg);
                        }
                    }
                }

                :not(span):nth-child(1) + span:before {
                    display: none;
                }
    
                span:nth-child(2) {
                    text-transform: uppercase;
                    font-size: 75%;
                    padding-top: .2rem;

                    &:before {
                        content: "";
                        background-color: #DDD;
                        width: 100%;
                        height: 3px;
                        border-radius: 1.5px;
                        display: block;
                        position: relative;
                        top: -.2rem;
                        left: 0;
                    }
                }
            }
        }

        select {
            padding-right: .4em;
            background-image: initial;
        }
    }

    .modal_prompt {
        @extend .modal_section;

        &.editing {
            box-shadow: $shadow;
        }

        .modal_prompt_response,
        textarea {
            padding: .75em .75em calc(.75em - 3px);
            text-align: justify;
            line-height: 1.75;
            font-family: $Rubik;
            font-weight: 300;
            color: $text-color;
            border-radius: calc(.5rem - 1px);
            column-width: calc((#{$content-width} - 1rem) / 3);
            grid-column-gap: 1.5em;
            column-gap: 1.5em;
            white-space: pre-wrap;
            hyphens: auto;
        }

        textarea {
            width: 100%;
            display: block;
            box-shadow: none;
        }

        .modal_prompt_response {
            border-bottom: 3px solid transparent;
        }
    }

    #modal_btn_container {
        display: flex;
        justify-content: flex-end;
        padding-top: .5rem;

        button {
            font-size: 1.2rem;
        }

        @media #{$mobile} {
            flex-direction: column;
        }
    }
}

#gapi-failed {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    font-family: $Rubik;
    color: $text-color;
    font-weight: 300;
    font-size: 1.2rem;

    button {
        margin-top:.5rem;
    }
}