$theme-color: {{ site.themecolor }};
$text-color: #37474F;
$Helvetica: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$Oswald: Oswald, sans-serif;
$Rubik: Rubik, sans-serif;

$content-width: 70rem;
$shadow: 0 .2rem .25rem 0rem rgba(0,0,0,.4);

@mixin body-width {
	width: $content-width;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

@mixin centering-flex ($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
}

$mobile: "only screen and (max-width: 767px)";