<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ page.title }} &ndash; {{ site.title }}</title>
	<meta name="robots" content="noindex,nofollow">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,300;1,500&family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
	<link href="{{ site.baseurl }}/styles/base.css" rel="stylesheet" type="text/css">
	{% for style in page.styles %}
	<link href="{{ site.baseurl }}/styles/{{ style }}.css" rel="stylesheet" type="text/css">
	{% endfor %}
</head>
<body>
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-firestore.js"></script>
	<script>
		"use strict";
		firebase.initializeApp({
			apiKey: "AIzaSyBLZkeVHg1qYygChbI9dEltdCm3UKF93X8",
			authDomain: "first-gen-first-admin-site.firebaseapp.com",
			databaseURL: "https://first-gen-first-admin-site.firebaseio.com",
			projectId: "first-gen-first-admin-site",
			storageBucket: "first-gen-first-admin-site.appspot.com",
			messagingSenderId: "544519717939",
			appId: "1:544519717939:web:154ab2d776fda1271f8f46"
		});

		window.user = {
			online: false,
			uid: null,
			email: null,
			logIn: new Promise(function(resolve, reject) {
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						window.user.online = true;
						window.user.uid = user.uid;
						window.user.email = user.email;
						resolve();
					} else {
						firebase.auth().signInWithRedirect(new firebase.auth.GoogleAuthProvider());
					}
				});
			}),
			profile: null,
			readProfile: null
		};

		window.user.readProfile = new Promise(function(resolve, reject) {
			window.user.logIn.then(function() {
				firebase.firestore().collection("profiles").doc(window.user.uid).get().then(function(e) {
					let data = e.data();
					window.user.profile = data;
					for (const key of Object.keys(data)) {
						let elems = document.querySelectorAll(`[data-pref="${key}"]`);
						for (const elem of elems) {
							elem.textContent = data[key];
						}
					}
					resolve();
				}).catch(function(e) {
					location.assign("/unauthorized");
					reject();
				});
			}).catch(function(e) {
				debugger;
				location.assign("/errlogin");
				reject(e);
			})
		})

		!function() {
			let auth = firebase.auth();
			auth.useDeviceLanguage();

			auth.getRedirectResult().then(function(result) {
				if (result.credentials) {
					console.log(result.credentials)
				}
			}).catch(function() {
				location.assign("/errlogin");
			});
		}();
	</script>
	{% for script in page.scripts %}
	<script src="{{ site.baseurl }}/scripts/{{ script }}.js" type="text/javascript"></script>
	{% endfor %}
	{{ content }}
</body>
</html>