[data-goog-logged-in="pending"] .goog-auth-yes, [data-goog-logged-in="pending"] .goog-auth-no, [data-goog-logged-in="true"] .goog-auth-pending, [data-goog-logged-in="true"] .goog-auth-no, [data-goog-logged-in="false"] .goog-auth-pending, [data-goog-logged-in="false"] .goog-auth-yes { display: none; }

html { border-top: 1.5rem solid #0288D1; box-sizing: border-box; min-height: 100%; }

body { margin: 0; min-height: 100%; }

p, h1, h2, h3, h4, h5, h6, .text { font-family: Rubik, sans-serif; font-weight: 300; color: #37474F; }

p { font-size: 1.2rem; line-height: 1.5; }

.link { border: 0; padding: 0; margin: 0; font-size: inherit; background-color: transparent; text-decoration: underline; color: #0288D1; cursor: pointer; }

.link:hover, .link:focus { text-decoration: none; }

button:not(.link), a.button { padding: .4rem 1rem; margin: 0; font-family: Oswald, sans-serif; font-weight: 500; background-color: transparent; color: #0288D1; border: 0; display: block; font-size: 1.5rem; border-radius: .4rem; cursor: pointer; outline: 0; text-decoration: none; display: inline-block; transition: background-color .1s ease-in-out, color .1s ease-in-out; }

button:not(.link):hover, button:not(.link):focus, a.button:hover, a.button:focus { background-color: #e0e0e0; color: #0278b8; }

input[type=text], input[type=search], input[type=number], input:not([type]), textarea, select { margin: 0; padding: .2em .4em; font-family: Rubik, sans-serif; font-weight: 300; font-size: inherit; box-sizing: border-box; border: 0; border-bottom: 3px solid #DDD; box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.53); outline: 0; border-radius: .25rem; resize: none; -webkit-appearance: none; transition: border-bottom-color .1s ease-in-out; }

input[type=text]:not([readonly]):hover, input[type=text]:not([readonly]):focus, input[type=search]:not([readonly]):hover, input[type=search]:not([readonly]):focus, input[type=number]:not([readonly]):hover, input[type=number]:not([readonly]):focus, input:not([type]):not([readonly]):hover, input:not([type]):not([readonly]):focus, textarea:not([readonly]):hover, textarea:not([readonly]):focus, select:not([readonly]):hover, select:not([readonly]):focus { border-bottom-color: #0288D1; }

input[type=text]:not([readonly]):invalid:focus, input[type=search]:not([readonly]):invalid:focus, input[type=number]:not([readonly]):invalid:focus, input:not([type]):not([readonly]):invalid:focus, textarea:not([readonly]):invalid:focus, select:not([readonly]):invalid:focus { border-bottom-color: #d1d102; }

input[type=text]:invalid:invalid, input[type=search]:invalid:invalid, input[type=number]:invalid:invalid, input:not([type]):invalid:invalid, textarea:invalid:invalid, select:invalid:invalid { border-bottom-color: #d10202; }

select { cursor: pointer; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpolygon points='50,75 75,25 25,25'/%3E%3C/svg%3E%0A"); background-repeat: no-repeat; background-position: calc(100% - .4rem); background-size: 1em; padding-right: calc(1em + .4rem); }