---
---
{% include sass_variables.scss %}

html {
	border-top: 1.5rem solid $theme-color;
	box-sizing: border-box;
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

p, h1, h2, h3, h4, h5, h6, .text {
	font-family: $Rubik;
	font-weight: 300;
	color: $text-color;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
}

.link {
	border: 0;
	padding: 0;
	margin: 0;
	font-size: inherit;
	background-color: transparent;
	text-decoration: underline;
	color: $theme-color;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

button:not(.link), a.button {
	padding: .4rem 1rem;
	margin: 0;
	font-family: $Oswald;
	font-weight: 500;
	background-color: transparent;
	color: $theme-color;
	border: 0;
	display: block;
	font-size: 1.5rem;
	border-radius: .4rem;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	display: inline-block;
	transition: background-color .1s ease-in-out,
		color .1s ease-in-out;

	&:hover,
	&:focus {
		background-color: scale-color(white, $lightness: -12%);
		color: scale-color($theme-color, $lightness: -12%);
	}
}

input[type=text],
input[type=search],
input[type=number],
input:not([type]),
textarea,
select {
	margin: 0;
	padding: .2em .4em;
	font-family: $Rubik;
	font-weight: 300;
	font-size: inherit;
	box-sizing: border-box;
	border: 0;
	border-bottom: 3px solid #DDD;
	box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.53);
	outline: 0;
	border-radius: .25rem;
	resize: none;
	-webkit-appearance: none;
	transition: border-bottom-color .1s ease-in-out;

	&:not([readonly]):hover,
	&:not([readonly]):focus {
		border-bottom-color: $theme-color;
	}

	&:not([readonly]):invalid:focus {
		border-bottom-color: change-color($theme-color, $hue: 60deg);
	}

	&:invalid:invalid {
		border-bottom-color: change-color($theme-color, $hue: 0deg);
	}
}

select {
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpolygon points='50,75 75,25 25,25'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: calc(100% - .4rem);
	background-size: 1em;
	padding-right: calc(1em + .4rem);
}