---
---
{% include sass_variables.scss %}

@keyframes loading {
	from {
		transform: translateY(-.25rem);
	}

	to {
		transform: translateY(.25rem);
	}
}

#switch-account-container {
	height: 0;
	overflow: visible;
	text-align: right;
	font-size: 1.2rem;

	div {
		padding: .5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

#welcome-1 {
	font-size: 4rem;
	margin: 1.5rem 0 0;
	text-align: center;
	font-family: $Oswald;
	font-weight: 550;
}

#welcome-2 {
	@extend #welcome-1;
	font-size: 2rem;
	margin: 0 0 2rem;
	font-weight: 450;
}

#action-items {
	padding: .5rem 0 1rem;
	background-color: scale-color(white, $lightness: -10%);

	h1 {
		font-size: 2rem;
		font-family: $Oswald;
		font-weight: 450;
		text-align: center;
		margin: .4rem 0 1rem;
		color: scale-color($theme-color, $lightness: -10%);
	}

	#ai-container {
		#no-action-items {
			text-align: center;

			&:not(:last-of-type) {
				display: none;
			}
		}

		.action-item {
			@include body-width;
			padding: .4rem 2rem;
			background: white;
			border-radius: .2rem;
			box-shadow: $shadow;
			font-family: $Rubik;
			font-weight: 300;
			text-align: center;
			font-size: 1.2rem;
			margin-bottom: .7rem;

			svg,
			img,
			.img {
				height: 3rem;
				display: block;
				margin: .5rem auto;
				fill: $theme-color;
				stroke: none;
			}
		}
	}
}

#gh-sign-in,
#gh-loading,
#yt-update,
#yt-loading {
	display: none;
}

[data-user-roles~=site_editor]:not([data-github-log-in-attempted]):not([data-github-logged-in]):not([data-gh-loading]) {
	#gh-sign-in {
		display: block;
	}

	#no-action-items {
		display: none;
	}
}

.ai-loading {
	padding-bottom: .8rem;

	div:last-of-type span {
		background-color: $theme-color;
		border-radius: 50%;
		height: .5rem;
		width: .5rem;
		display: inline-block;
		animation-name: loading;
		animation-duration: .55s;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-fill-mode: both;

		&:nth-of-type(1) {
			animation-delay: 0s;
		}

		&:nth-of-type(2) {
			animation-delay: .15s;
		}

		&:nth-of-type(3) {
			animation-delay: .3s;
		}

	}
}

[data-gh-loading] {
	#gh-loading {
		display: block;
	}

	#no-action-items {
		display: none;
	}
}

[data-yt-loading] {
	#yt-loading {
		display: block;
	}

	#no-action-items {
		display: none;
	}
}

[data-yt-update] {
	#yt-update {
		display: block;
	}

	#no-action-items {
		display: none;
	}
}

#yt-update {
	a {
		display: inline-block;
		margin: .5rem auto;
	}

	#new-yt-thumbnail {
		min-width: 16rem / 3 !important;
		width: 120px !important;
		max-width: 32rem / 3 !important;
		min-height: 3rem !important;
		height: 120px / 16 * 9 !important;
		max-height: 6rem !important;
		margin: 0 !important;
		object-fit: cover;
		box-shadow: $shadow;
	}
}