---
---
{% include sass_variables.scss %}

$loading-dots-size: 1rem;

@keyframes travel {
	0%, 10% {
		left: 0;
		background-color: gray;
	}

	15% {
		background-color: gray;
	}

	50% {
		background-color: red;
	}

	85% {
		background-color: gray;
	}

	90%, 100% {
		left: 7rem - $loading-dots-size;
		background-color: gray;
	}
}

body {
	box-sizing: border-box;
	padding: 1.5rem;
}

#modal-container {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	flex-direction: column;
	justify-content: center;

	#modal {
		@include body-width;
		background-color: white;
		border-radius: .5rem;
		box-shadow: $shadow;
		padding: 1rem 2rem;
		max-width: calc(100% - 3rem);
	}

	#modal-flex {
		text-align: center;

		#modal-cont {
			color: #C62828;
			margin-left: 0.5rem;

			&:hover,
			&:focus {
				color: scale-color(#C62828, $lightness: -12%);
			}
		}
	}
}

[data-bad-id] #modal-container,
[data-bad-desc] #modal-container {
	display: flex;
}

[data-bad-id] #bad-desc-span,
[data-bad-desc] #bad-id-span {
	display: none;
}

#gh-signin {
	display: none;
	text-align: center;

	#gh-signin-svg {
		padding: 1rem;
		border-radius: 50%;

		svg {
			fill: $theme-color;
			height: 5rem;
			display: block;
		}
	}

	> div > div  {
		margin: .4rem 0;
	}
}

[data-no-github],
[data-github-error],
[data-github-no-write] {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#gh-signin {
		display: block;
	}

	#content {
		display: none;
	}
}

.gh-text,
#gh-signin a {
	display: none;
}

[data-no-github] #gh-text-signin,
[data-github-no-write] #gh-text-no-write,
[data-github-error] #gh-text-re-signin,
[data-no-github] #gh-signin-btn,
[data-github-error] #gh-signin-btn,
[data-github-no-write] #gh-signout-btn {
	display: block;
}

[data-yt-loading],
[data-yt-error] {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#content {
		display: none;
	}
}

[data-yt-loading] #yt-loading,
[data-yt-error] #yt-error {
	display: flex;
}

#yt-loading,
#yt-error {
	display: none;
	align-items: center;
	flex-direction: column;

	&-yt {
		width: 7rem;
		fill: #0288D1;
	}
}

#yt-error p {
	margin: .5rem 0 0;
	height: $loading-dots-size;
}

#yt-loading-dots {
	width: 7rem;
	height: $loading-dots-size;
	position: relative;
	margin-top: .5rem;

	span {
		background-color: gray;
		display: inline-block;
		width: $loading-dots-size;
		height: $loading-dots-size;
		border-radius: 50%;
		position: absolute;
		animation: travel 1.5s cubic-bezier(0.700, 0.010, 0.300, 1.000) infinite alternate;

		&:nth-child(1) {
			animation-delay: .2s;
		}

		&:nth-child(2) {
			animation-delay: .1s;
		}

		&:nth-child(3) {
			animation-delay: 0s;
		}
	}
}

[data-yt-update] #yt-update {
	display: block;
}

#yt-update {
	display: none;
	@include body-width;
	background-color: #FFF59D;
	padding: .4rem 2rem;
	border-radius: 0.5rem;
	box-shadow: $shadow;
	margin-bottom: 1.5rem;
	max-width: calc(100% - 3rem);

	#yt-update-warn {
		height: 3rem;
		fill: #FBC02D;
		display: block;
		margin: 0.5rem auto;
	}

	p {
		text-align: center;
		color: transparentize(black, 0.05);
		margin: 0;
	}
}

#content-flex {
	@include body-width;
	display: flex;
	margin-bottom: .5rem;
}

#current,
#new {
	flex-basis: calc(50% - 0.75pt);
	padding: 0 1.5rem;

	.url-input {
		position: relative;
		margin-bottom: 1rem;

		.ext-link {
			position: absolute;
			right: 0;
			height: calc(100% - 3px);
			width: 1.4rem * 1.2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			color: #AAA;

			&:hover,
			&:focus {
				color: $theme-color;
			}

			svg {
				display: block;
				height: 1.2rem;
				width: 1.2rem;
				position: relative;
				right: 1.2rem * .2;
				color: inherit;

				polygon {
					fill: currentColor;
					stroke: currentColor;
					stroke-width: 8px;
					stroke-linejoin: round;
				}

				path {
					fill: none;
					stroke: currentColor;
					stroke-width: 10px;
					stroke-linecap: round;
				}
			}
		}

		.id {
			width: 100%;
			font-size: 1.2rem;
			padding-right: 1.4em;
			cursor: text;
		}
	}

	.thumbnail-container {
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: .25rem;
		box-shadow: $shadow;

		div:last-of-type {
			margin-top: percentage(9 / 16);
		}

		.thumbnail,
		#no-thumbnail {
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: inherit;
			object-fit: cover;
		}

		#no-thumbnail {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			font-family: $Oswald;
			font-weight: 450;
			background-color: #FFF59D;
			color: transparentize(black, 0.05);
			font-size: 1.5rem;
			box-sizing: border-box;
			padding: 2rem 3rem;

			p {
				color: inherit;
				font-family: inherit;
				font-size: inherit;
			}
		}
	}

	h1 {
		text-align: center;
		font-family: $Oswald;
		font-weight: 550;
		margin: 0 0 1rem;
	}

	textarea {
		width: 100%;
		margin-top: 1rem;
		font-size: 1.2rem;
		line-height: 1.2;
		height: 1em * 1.2 * 5 + .2em * 2;
		resize: vertical;
	}

	.char-count {
		font-size: 1rem;
		text-align: center;
		margin: 0;
	}
}

#content-divider {
	flex-basis: 0;
	border-left: 1.5pt dashed $theme-color;
}

#submit {
	display: block;
	margin: auto;

	[data-submitting] & {
		pointer-events: none;
		color: change-color($theme-color, $saturation: 0);
	}
}

#submission-error {
	display: none;
	color: #C62828;
	margin: 0;
	text-align: center;

	[data-submission-error] & {
		display: block;
	}
}

@media #{$mobile} {
	#content-flex {
		flex-direction: column;
	}

	#content-divider {
		border-left: none;
		border-top: 1.5pt dashed $theme-color;
		margin: 1rem 1.5rem;
	}
}